
#form-background {
   z-index: 5;
   background-color: rgb(191, 226, 227);

   position: absolute;
   width: 100%;
   height: 100%;
}

#form {
   width: fit-content;

   /* center on page */
   position: absolute;
   left: 50%;
   top: 40%;
   transform: translate(-50%, -50%);
}

#form-title {
   font-size: 4em;
   font-style: italic;
   text-align: center;
   color: rgb(75, 35, 92);
}

#form-examples {
   position: absolute;
   display: inline-block;
   left: 50%;
   top: 75%;
   transform: translate(-50%, -50%);
   padding: 0.3em 1em 1em;
   border: 1px solid black;
   border-radius: 1em;
}

#form-examples h2 {
   margin: 0.3em 0;
}

#form-examples p {
   margin: 0.5em 1.5em;
}

#form-examples span {
   display: inline-block;
   margin: 0 1em;
}

#form-links {
   position: absolute;
   bottom: 0;
   right: 0;
   margin: 1em 2em;
   font-size: 1.2em;
}
