
#options {
   margin: 1px;
   padding: 0.5em 1em 1em 1em;
   z-index: 4;
   position: relative;
   width: fit-content;
   height: fit-content;
   background-color: lightsteelblue;
   display: inline-block;
}

.options-title {
   margin: 0px;
   text-align: center;
   font-weight: bold;
   font-style: italic;
   font-size: large;
}

.options-header {
   margin: 0.5em 0 0 0;
   font-weight: bold;
}

.options-choice {
   margin: 0;
}

/* ---------- tooltip ------------ */

.options-tooltip .options-tooltiptext {
   top: 0;
   right: 105%;
   padding: 0 5px 5px 5px;
}

.options-tooltip .options-tooltiptext::after {
   top: 10px;
   left: 100%;
   border-color: transparent transparent transparent #555;
}
